@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: rgb(0, 0, 0);

    
}

body{
    background-color: #ececec; 
 
}


nav{
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  align-items: center;
}

.logo{
    width: 65px;
    height: auto;
    margin: 15px 0px 10px 15px;
}



nav li{
    display: inline;
    position: relative;
    left: 7em;
    top: -17px;
    margin: 0px 35px; 

}

.NavIcon{
  margin: 0 15px 0 0;
  height: 20px;
  top: 4px;
  position: relative;
  
}


nav a{
  font-family: 'Poppins';
  font-weight: bolder;
  text-decoration: none;
  font-size: 17px;
}


.AlarmIcon{
  position: relative;
  height: 35px;
  top: 10px;
 
  
}

.svg1 .cls-1:hover{
  fill: #ed3131;
}

.Logout{
  font-family: 'Poppins:500';
  font-weight: bold;
  color: rgb(31, 31, 31);
  padding: 5px 17px;
  
  
}

.Logout img{
  height: 14px;
  position: relative;
  top: 1px;
}



.option{
  padding-bottom: 15px;
  border-bottom: 4px;
  border-right-width: 10px;
  padding-left: 25px;
  padding-right: 25px;
  
  transition-duration: 80ms;
  transition-property: inherit;
 
}

nav .opt a:hover{
  border-bottom: solid rgb(97, 202, 100);
}
























/* >>>>>>>> DROPDOWN DROPDOWN DROPDOWN <<<<<<<<< */

/* Navbar container */


/* Links inside the navbar */
.navbar{
  position: relative;
  right: 5em;
  top: -3.89em;
  float: right;
 
}


.navbar a {
  float: left;
  font-size: 16px;
  
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  
  border: none;
  outline: none;
  color: white;
  /* border-radius: 100px 100px 100px 100px; */
  padding: 4px 20px;
  background-color: rgba(0, 0, 0, 0);
  
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn img{
  position: relative;
  top: 2px;
  height: 30px;
  width: auto;
  margin: 10px;
}



/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(97, 202, 100);
  /* background: transparent; */
  
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: -4em;
  bottom: -9.1em;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.137);
  
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}