@import url('https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: rgb(0, 0, 0);   
}

body{
    background-color: #ececec; 

}


nav{
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  align-items: center;
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.13);
}

.logo{
    width: 65px;
    height: auto;
    margin: 15px 0px 10px 15px;
}



nav li{
    display: inline;
    position: relative;
    left: 7em;
    top: -17px;
    margin: 0px 35px; 
}

.NavIcon{
  margin: 0 15px 0 0;
  height: 20px;
  top: 4px;
  position: relative;
}


nav a{
  font-family: 'Poppins';
  font-weight: 500;
  text-decoration: none;
  font-size: 17px;
}


.AlarmIcon{
  position: relative;
  height: 35px;
  top: 10px;

}

.svg1 .cls-1:hover{
  fill: #ed3131;
  transition-duration: 300ms; 
}



.Logout{
  font-family: 'Poppins:500';
  font-weight: bold;
  color: rgb(31, 31, 31);
  padding: 5px 17px;
  
}

.LogIcon{
  height: 14px;
  position: relative;
  top: 1.5px;
}
 

.option{
  padding: 18px 25px 15px 25px;
  border-bottom: 4px;
  transition-duration: 400ss;
}

nav .opt .devices{
  border-bottom: solid #33CF99;
}



nav .opt a:hover{
  border-bottom: solid #33CF99;
  background-color: #f1f1f1;
}


/* >>>>>>>> **** DROPDOWN **** DROPDOWN **** DROPDOWN **** <<<<<<<<< */

/* Links inside the navbar */
.navbar{
  position: relative;
  right: 5em;
  top: -3.89em;
  float: right;
 
}


.navbar a {
  float: left;
  font-size: 16px;
  border: 1px black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  
}

/* Dropdown button */
.dropdown .dropbtn {
  
  border: none;
  outline: none;
  color: white;
  /* border-radius: 100px 100px 100px 100px; */
  padding: 4px 20px;
  background-color: rgba(0, 0, 0, 0);

 
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn img{
  position: relative;
  top: 2px;
  height: 30px;
  width: auto;
  margin: 10px;
  
}



/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(219, 219, 219);
  /* background: transparent; */
  transition-duration: 400ms;
  transition-property: all;
  
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: -4em;
  bottom: -11.5em;
  background-color: #fdfdfd;
  min-width: 240px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.137);
  transition-duration: 700ms;
  transition-property: all;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 2px;
}

.dropdown-content .LogIcon{
  margin: 0 0 0 10px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content .profile:hover {
  background-color: #33CF99;
  color: white;
  transition-duration: 150ms;

  box-shadow: inset 0px 0px 0px 2px rgb(90, 206, 167);
  box-sizing: border-box;
}

.dropdown-content .Logout:hover {
  background-color: rgb(36, 36, 36);
  color: white;
  transition-duration: 100ms;
  
  box-shadow: inset 0px 0px 0px 2px rgb(87, 87, 87);
  box-sizing: border-box;
}

.dropdown-content .LogIcon a :hover{
  background-color: black;
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}


/***** CAMERA FEED **** **** CAMERA FEED **** **** CAMERA FEED **** **** CAMERA FEED *****/


.cameras{
  position: absolute;
  /* right: 50%;
  left: 50%; */

  bottom: -220px;
}

.camNav{
  cursor: default;
  position: relative;
  border-style: transparent;
  border-radius: 100px 100px 100px 100px;
  text-align: center;
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.13);
  background-color: white;
  width: 350px;
  font-size: 14px;
  overflow: hidden;
  padding: 8.5px;
}

/* Issue with aligning horizontally and vertically */

.camNav .NotiSvg{
  position: absolute;
  bottom: 3.5px;
  left: 5px;

}

.history{
  position: absolute;
  height: 19px;
  bottom: 9px;
  right: 45px;
}

.navSettingsIcon{
  position: absolute;
  height: 19px;
  bottom: 9px;
  right: 15px;
}

.camFeed{
  margin-top: 12px;
  width: 350px;
  height: 255px;
  border-style: transparent;
  border-radius: 17px 17px 25px 25px;
  text-align: center;
  background-color: white;
  box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.13);
}

.cameras{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camPics{
  width: 350px;
  border-radius: 15px;

}


.camDiv{
    align-content: center;
    margin: 0 70px 0px 0px;
}

.BackDoor{
  margin: 0 0px 0px 0px;
}

.Garden{
  margin: 0 0px 0px 0px;
}



.row1 {
  display: inline-flex;  
}

.row2{
  display: inline-flex;
  margin-top: 30px;
}

.detections{
  height: 20px;
}


/* **** Garage Overlay **** **** Garage Overlay **** **** Garage Overlay **** */

.overlayGarage {
  position: absolute;
  top: 34px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  margin-top: 16px;
  width: 350px;
  height: 223px;
  transition: .5s ease;
  border-style: transparent;
  border-radius: 18px;
  background-color: rgb(17, 17, 17);
}



.camFeed:hover .overlayGarage{
  opacity: 0.6;
}


.play{                              
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 83px;
  opacity: 1;
  height: 50px;
}

.overlayGarage:hover .play{  
  opacity: 1;
  
}


/* **** Main Door Overlay **** **** Main Door Overlay **** **** Main Door Overlay **** */

.overlaymDoor {
  position: absolute;
  top: 34px;
  bottom: 0;
  left: 35.3%;
  right: 0;
  opacity:0;
  margin-top: 15px;
  width: 350px;
  height: 223px;
  transition: .5s ease;
  border-style: transparent;
  border-radius: 18px;
  background-color: rgb(17, 17, 17);
}


.camFeed:hover .overlaymDoor{
  opacity: 0.6;
}

.play{                              
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 83px;
  opacity: 1;
  height: 50px;
}

.overlaymDoor:hover .play{  
  opacity: 1;
  
}


/* **** Back Door Overlay **** **** Back Door Overlay **** **** Back Door Overlay **** */

.overlaybDoor {
  position: absolute;
  top: 34px;
  bottom: 0;
  left: 70.6%;
  right: 0;
  opacity:0;
  margin-top: 15px;
  width: 350px;
  height: 223px;
  transition: .5s ease;
  border-style: transparent;
  border-radius: 18px;
  background-color: rgb(17, 17, 17);
}


.camFeed:hover .overlaybDoor{
  opacity: 0.6;
}

.play{                              
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 83px;
  opacity: 1;
  height: 50px;
}

.overlaybDoor:hover .play{  
  opacity: 1;
  
}


/* Overlay issue (abosulte div restricted moving vertically  */
/* **** Backyard Overlay **** **** Backyard Overlay **** **** Backyard Overlay **** */

.row2 .overlayBackyard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  margin-top: 24.1em;
  width: 350px;
  height: 223px;
  transition: .5s ease;
  border-style: transparent;
  border-radius: 18px;
  background-color: rgb(17, 17, 17);
}


.camFeed:hover .overlayBackyard{
  opacity: 0.6;
}

.play{                              
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 83px;
  opacity: 1;
  height: 50px;
}

.overlaymDoor:hover .play{  
  opacity: 1;
  
}


/* ****  Swimming Pool Overlay **** ****  Swimming Pool Overlay **** ****  Swimming Pool Overlay **** */

.overlayPool {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35.3%;
  right: 0;
  opacity:0;
  margin-top: 24.1em;
  width: 350px;
  height: 223px;
  transition: .5s ease;
  border-style: transparent;
  border-radius: 18px;
  background-color: rgb(17, 17, 17);
}


.camFeed:hover .overlayPool{
  opacity: 0.6;
}

.play{                              
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 83px;
  opacity: 1;
  height: 50px;
}

.overlayPool:hover .play{  
  opacity: 1;
  
}


/* **** Garden Overlay **** **** Garden Overlay **** **** Garden Overlay **** */

.overlayGarden {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70.6%;
  right: 0;
  opacity:0;
  margin-top: 24.1em;
  width: 350px;
  height: 223px;
  transition: .5s ease;
  border-style: transparent;
  border-radius: 18px;
  background-color: rgb(17, 17, 17);
}


.camFeed:hover .overlayGarden{
  opacity: 0.6;
}

.play{                              
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 83px;
  opacity: 1;
  height: 50px;
}

.overlayGarden:hover .play{  
  opacity: 1;
}

.cameras{
  overflow: visible;
}

.button{
  cursor: pointer;
  margin: 15px;
  padding: 7px 25px 7px 45px;
  position: fixed;
  top: 107%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  background-color: #ffffff;
  font-size: 12px;

  border-radius: 100px;
  border: transparent;
  box-shadow: 0.5px 1px 0.5px rgba(0, 0, 0, 0.13);
}

.button a:hover{

  transition: .3s ease;
  letter-spacing: .5px;
  
}

.plus{
  margin-left: 15px;
  
  height: 15px;
  text-align: center;
  position: fixed;
  top:50%;
  left: 6%;
  transform: translate(-50%, -50%);
  
}